@{
    ViewData["Title"] = "Index";
    
}

    <a href='@Url.Action("SelectIndumentaria","Home")'>Ir a agregar equipos</a>
    <article class="flex">
        <div class="cuadrado">
          @ViewBag.ListaEquipos["boca"]
        </div>
        <div class="cuadrado"> 
            <div class="divInput">
                <h2>Ingresar nombre equipo:</h2>
                <input type="text" name="" id="">
            </div>
        </div>
    </article>
