@{
    ViewData["Title"] = "Index";
}


    <article class="flex">
        <div class="cuadrado">
            <div>
                @ViewBag.equipos["boca"].medias
            </div>
        </div>
        <div class="cuadrado"> 
            <div class="divInput">
                <h2>Ingresar nombre equipo:</h2>
                <input type="text" name="" id="">
            </div>
        </div>
    </article>
