
@{
    ViewData["Title"] = "SelectIndumentaria";
    
}
<form action="/home/GuardarIndumentaria" method="POST" enctype="multipart/form-data">
    <div>
        <h2>Equipo</h2>
        <input type="text">
    </div>
    <div>
        <h2>Media</h2>
        <input type="file" class="archivo">
    </div>
     <div>
        <h2>Pantalon</h2>
        <input type="file" class="archivo">
    </div>
     <div>
        <h2>Remera</h2>
        <input type="file" class="archivo">
    </div>
  <input type="submit" value="Enviar">
</form>